#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Clock.png);
    background-size: 100%;
}
#hour,#minute,#seconds{
    position: absolute;
    background: black;
    border-radius: 10px;

}
#hour{
    width: 1.8%;
    height:22%;
    top:28%;
    left: 49.5%;
    opacity: 0.9;
    transform-origin: bottom;
}
#minute{
    width: 1%;
    height:35%;
    top:15.8%;
    left: 49.8%;
    opacity: 0.9;
    transform-origin: bottom;
}
#seconds{
    width: 0.7%;
    height:39%;
    top:12%;
    left: 49.8%;
    opacity: 0.9;
    transform-origin: bottom;
}
